.Author{
    width: 518px;
    height: 520px;
    background-color: #ffffff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
    left: 754px;
    top: 2298px;
    position: absolute;
}

.Author > #up-line {
    width: 444px;
    height: 2px;
    opacity: 0.2;
    background-color: rgba(85, 85, 85, 1);
    margin: 11px 0 0 33px;
}

.Author > #heading{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    height: 17px;
    margin: 0 0 0 43px;
    padding-top: 20px;
    line-height: 1.2;
    letter-spacing: -0.025em;
}

.Author > .Author-info{
    width: 440px;
    height: 130px;
    margin: 24px 46px 0 32px;
    display: flex;
}

.Author-info div > #woman{
    border: 1px solid #ffffff;
}

.Author-info div > #name{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    height: 24px;
    letter-spacing: -0.025em;
    margin: 14px 0 0 19px;
}

.Author-info div > #country{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    height: 14px;
    letter-spacing: -0.025em;
    margin: 6px 0 0 21px;
}

.Author-info div > .icons{
    margin: 12px 0 0 19px;
    opacity: 0.5;
    font-size: 16px;
    height: 15px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #555555;
}

.Author-info div > .icons a{
    color: #555555;
}

.Author-info div > .icons a:hover{
    color: rgba(234,52,26,0.77);
}

.Author-info div > #down-line{
    width: 292px;
    height: 2px;
    opacity: 0.2;
    background-color: rgba(85, 85, 85, 1);
    margin: 18px 0 0 19px;
}

.Author > #about-header{
    margin: 1px 0 0 181px;
    height: 17px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.025em;
}

.Author > #content{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    font-style: italic;
    letter-spacing: -0.025em;
    width: 288px;
    height: 148px;
    margin: 32px 0 0 182px;
}

.Author > #sign{
    margin-left: 314px;
    margin-top: 22px;
}


.error-404 {
    width: 518px;
    height: 518px;
    background-color: #ffffff;

    box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
    left: 153px;
    top: 2302px;
    position: absolute;
    background-image: url(/images/Plate.png);
    background-position: center;
    background-repeat: no-repeat;

}
.error-404-heading{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    left: 44px;
    top: 23px;
    padding-left: 44px;
    padding-top: 5px;

    /*
    padding-left: 11px;
    margin-top: 19px;
    margin-bottom: 0;
*/
}

.error-404-up-line {
    width: 441px;
    height: 2px;
    opacity: 0.2;
    background-color: rgba(85, 85, 85, 1);
    /*margin: 11px 0 0 33px;*/
    position: absolute;
    top:48px;
    left: 33px;
    margin-top: 7px;
    margin-bottom: 0;

}

#error-404-text{
    text-align: center;
    padding-top: 130px;
    padding-left: 5px;
    font-family: 'Playfair Display', serif;
    color: rgb(169,169,169, 0.66);
    font-size: 16px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;

    /*margin-top: 13px;

*/
}

#error-404-sorry {
    font-size: 34px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: black;
    margin-top: 13px;
    margin-bottom: 0px;

    /*
    padding-bottom: 13px;
     */

}
#error-404-smile {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 33px;
    display: inline-block;
    transform: rotate(75deg) translate(-28px, -22px);

}

#error-404-smile-sad {
    font-family: Sylfaen;
    font-weight: 400;
    display: inline-block;
    font-size: 33px;
    transform: rotate(75deg) translate(-21px, -8px);

}

.error-404-button{
    padding-top: 57px;
    /*margin-top: 60px;
    */
    text-align: center;

    padding-bottom: 52px;
}

.error-404-button button{
    background-color: rgb(250,251,250);
    width: 103px;
    height: 26px;
    border: solid #c1c1c1 1px;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding-top: 15px;
}

.error-404-button button:hover{
    background-color: #555555;
}

.error-404-button button:active{
    font-size: 11px;
}

.hashtags {
    width: 290px;
    height: 160px;
    background-color: #ffffff;
    left: 568px;
    top: 3369px;
    position: absolute;
}
#hashtags-heading {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    left: 44px;
    top: 23px;
    margin-top: 26px;
    margin-bottom: 0px;
    padding-left: 17px;
    padding-top: 0px;
}
.hashtags-up-line {

    /*
    width: 441px;
     */

    width: 252px;
    margin-left: 1px;
    /*
    17 22
     */
    margin-left: 17px;
    margin-right: 22px;
    height: 2px;
    opacity: 0.2;
    background-color: rgba(85, 85, 85, 1);
    /*margin: 11px 0 0 33px;*/
    /*position: absolute;
    top:48px;
    left: 33px;

    margin-top: 7px;
     */
    /*
    margin-bottom: 0;
     */
}
.hashtags-text {
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.8;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
    padding-left: 23px;
}

.post-a-comment{
    width: 839px;
    height: 188px;
    background-color: #ffffff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
    left: 282px;
    top: 4704px;
    position: absolute;
}

.post-a-comment-heading{
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    left: 39px;
    top: 23px;
    position: absolute;
}

.post-a-comment-facebook{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    left: 643px;
    top: 34px;
    position: absolute;
     /*padding-left: 643px;*/
}

.post-a-comment-twitter{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    left: 739px;
    top: 34px;
    position: absolute;
/*padding-left: 739px;*/
}

.post-a-comment-field{
    width: 754px;
    height: 90px;
    background-color: rgba(85, 85, 85, 1);
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
    left: 40px;
    top: 65px;
    opacity:0.050980392156862744;
    position: absolute;
}

.post-input{
    width: 492px;
    height: 40px;
    left: 141px;
    top: 24px;
    border: solid #c1c1c1 1px;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-miterlimit: 100;
    stroke-dashoffset: 0;
    stroke-linejoin: miter;
    padding-left: 0px;

    position: absolute;
}

.img-woman {
    width: 57px;
    height: 57px;
    left: 58px;
    top: 78px;
    position: absolute;
}

.post-a-comment-button{
    text-align: center;
    left: 681px;
    top: 89px;
    position: absolute;
}

.post-a-comment-button button{
    width: 89px;
    height: 42px;
    border: solid #c1c1c1 1px;
    background-color: rgba(60, 60, 60, 1);
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    /*padding-top: 15px;*/
}

/*____________________________*/

.login{
    width: 329px;
    height: 407px;
    background-color: #ffffff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
    left: 340px;
    top: 4044px;
    position: absolute;
}

.login-heading{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    left: 31px;
    top: 19px;
    position: absolute;
}

.login-line {
    width: 272px;
    height: 2px;
    opacity: 0.2;
    background-color: rgba(85, 85, 85, 1);

    position: absolute;
    top:46px;
    left: 25px;
    margin-top: 7px;
    margin-bottom: 0;
}

.login-text {
    font-size: 16px;
    font-weight: 300;
    left: 30px;
    top: 77px;
    position: absolute;
}

.login-input1{
    width: 267px;
    height: 42px;
    left: 32px;
    top: 116px;
    border: solid #c1c1c1 2px;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-miterlimit: 100;
    stroke-dashoffset: 0;
    stroke-linejoin: miter;
    padding-left: 0px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    box-shadow: inset 2px 2px 5px -1px rgba(0, 0, 0, 0.8);

    position: absolute;

    color: #212529;
    opacity: 0.3;
}

.login-input2{
    width: 267px;
    height: 42px;
    left: 32px;
    top: 176px;
    border: solid #c1c1c1 2px;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-miterlimit: 100;
    stroke-dashoffset: 0;
    stroke-linejoin: miter;
    padding-left: 0px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    position: absolute;

    color: #212529;
    opacity: 0.3;
}

.login-input3{
    width: 8px;
    height: 8px;
    left: 32px;
    top: 232px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    border: solid #212529 1px;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-miterlimit: 100;
    stroke-dashoffset: 0;
    stroke-linejoin: miter;
    position: absolute;
    opacity: 0.3;
}

.login-text-left{
    width: 80px;
    height: 10px;
    font-size: 12px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    left: 49px;
    top: 232px;
    position: absolute;
    opacity:0.4;
    color:#212529;
}

.login-text-right{
    width: 130px;
    height: 10px;
    font-size: 12px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    left: 178px;
    top: 232px;
    position: absolute;
    opacity:0.4;
    color:#212529;
}

.login-button{
    text-align: center;
    left: 112px;
    top:277px;
    position: absolute;
}

.login-button button{
    width: 107px;
    height: 30px;
    border: solid #c1c1c1 1px;
    background-color: rgb(250,251,250);
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.login-text-bottom{
    width: 230px;
    height: 16px;
    font-size: 16px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    left: 64px;
    top: 367px;
    position: absolute;
    opacity:0.4;
    color:#212529;
}

/*----------------------*/

.signin{
    width: 329px;
    height: 536px;
    background-color: #ffffff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
    left: 755px;
    top: 4044px;
    position: absolute;
}

.signin-input2{
    width: 267px;
    height: 42px;
    left: 32px;
    top: 171px;
    border: solid #c1c1c1 2px;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-miterlimit: 100;
    stroke-dashoffset: 0;
    stroke-linejoin: miter;
    padding-left: 0px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    position: absolute;

    color: #212529;
    opacity: 0.3;
}

.signin-input3{
    width: 267px;
    height: 42px;
    left: 32px;
    top: 228px;
    border: solid #c1c1c1 2px;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-miterlimit: 100;
    stroke-dashoffset: 0;
    stroke-linejoin: miter;
    padding-left: 0px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    position: absolute;

    color: #212529;
    opacity: 0.3;
}

.signin-input4{
    width: 267px;
    height: 42px;
    left: 32px;
    top: 283px;
    border: solid #c1c1c1 2px;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-miterlimit: 100;
    stroke-dashoffset: 0;
    stroke-linejoin: miter;
    padding-left: 0px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    position: absolute;

    color: #212529;
    opacity: 0.3;
}

.signin-button{
    text-align: center;
    left: 113px;
    top:361px;
    position: absolute;
}

.signin-button button{
    width: 107px;
    height: 30px;
    border: solid #c1c1c1 1px;
    background-color: rgb(250,251,250);
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.signin-text-top{
    width: 240px;
    height: 31px;
    font-size: 14px;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    left: 35px;
    top: 448px;
    position: absolute;
    opacity:0.4;
    color:#212529;
}

.signin-text-bottom{
    font-size: 12px;
    font-weight: 300;
    left: 39px;
    top: 494px;
    position: absolute;
    color:#212529;
}
