.Author{
    width: 518px;
    height: 520px;
    background-color: #ffffff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
    left: 754px;
    top: 2298px;
    position: absolute;
}

.Author > #up-line {
    width: 444px;
    height: 2px;
    opacity: 0.2;
    background-color: rgba(85, 85, 85, 1);
    margin: 11px 0 0 33px;
}

.Author > #heading{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    height: 17px;
    margin: 0 0 0 43px;
    padding-top: 20px;
    line-height: 1.2;
    letter-spacing: -0.025em;
}

.Author > .Author-info{
    width: 440px;
    height: 130px;
    margin: 24px 46px 0 32px;
    display: flex;
}

.Author-info div > #woman{
    border: 1px solid #ffffff;
}

.Author-info div > #name{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    height: 24px;
    letter-spacing: -0.025em;
    margin: 14px 0 0 19px;
}

.Author-info div > #country{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    height: 14px;
    letter-spacing: -0.025em;
    margin: 6px 0 0 21px;
}

.Author-info div > .icons{
    margin: 12px 0 0 19px;
    opacity: 0.5;
    font-size: 16px;
    height: 15px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.08em;
    color: #555555;
}

.Author-info div > .icons a{
    color: #555555;
}

.Author-info div > .icons a:hover{
    color: rgba(234,52,26,0.77);
}

.Author-info div > #down-line{
    width: 292px;
    height: 2px;
    opacity: 0.2;
    background-color: rgba(85, 85, 85, 1);
    margin: 18px 0 0 19px;
}

.Author > #about-header{
    margin: 1px 0 0 181px;
    height: 17px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -0.025em;
}

.Author > #content{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    font-style: italic;
    letter-spacing: -0.025em;
    width: 288px;
    height: 148px;
    margin: 32px 0 0 182px;
}

.Author > #sign{
    margin-left: 314px;
    margin-top: 22px;
}


.error-404 {
    width: 518px;
    height: 518px;
    background-color: #ffffff;

    box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);
    left: 153px;
    top: 2302px;
    position: absolute;
    background-image: url(/images/Plate.png);
    background-position: center;
    background-repeat: no-repeat;

}
.error-404-heading{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    left: 44px;
    top: 23px;
    padding-left: 44px;
    padding-top: 5px;

    /*
    padding-left: 11px;
    margin-top: 19px;
    margin-bottom: 0;
*/
}

.error-404-up-line {
    width: 441px;
    height: 2px;
    opacity: 0.2;
    background-color: rgba(85, 85, 85, 1);
    /*margin: 11px 0 0 33px;*/
    position: absolute;
    top:48px;
    left: 33px;
    margin-top: 7px;
    margin-bottom: 0;

}

#error-404-text{
    text-align: center;
    padding-top: 130px;
    padding-left: 5px;
    font-family: 'Playfair Display', serif;
    color: rgb(169,169,169, 0.66);
    font-size: 16px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;

    /*margin-top: 13px;

*/
}

#error-404-sorry {
    font-size: 34px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: black;
    margin-top: 13px;
    margin-bottom: 0px;

    /*
    padding-bottom: 13px;
     */

}
#error-404-smile {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 33px;
    display: inline-block;
    transform: rotate(75deg) translate(-28px, -22px);

}

#error-404-smile-sad {
    font-family: Sylfaen;
    font-weight: 400;
    display: inline-block;
    font-size: 33px;
    transform: rotate(75deg) translate(-21px, -8px);

}

.error-404-button{
    padding-top: 57px;
    /*margin-top: 60px;
    */
    text-align: center;

    padding-bottom: 52px;
}

.error-404-button button{
    background-color: rgb(250,251,250);
    width: 103px;
    height: 26px;
    border: solid #c1c1c1 1px;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding-top: 15px;
}

.error-404-button button:hover{
    background-color: #555555;
}

.error-404-button button:active{
    font-size: 11px;
}

.hashtags {
    width: 290px;
    height: 160px;
    background-color: #ffffff;
    left: 568px;
    top: 3369px;
    position: absolute;
}
#hashtags-heading {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    left: 44px;
    top: 23px;
    margin-top: 26px;
    margin-bottom: 0px;
    padding-left: 17px;
    padding-top: 0px;
}
.hashtags-up-line {

    /*
    width: 441px;
     */

    width: 252px;
    margin-left: 1px;
    /*
    17 22
     */
    margin-left: 17px;
    margin-right: 22px;
    height: 2px;
    opacity: 0.2;
    background-color: rgba(85, 85, 85, 1);
    /*margin: 11px 0 0 33px;*/
    /*position: absolute;
    top:48px;
    left: 33px;

    margin-top: 7px;
     */
    /*
    margin-bottom: 0;
     */
}
.hashtags-text {
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.8;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
    padding-left: 23px;
}